@page "/MostrarHistorial/{AccountNum}"
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject Blazored.LocalStorage.ILocalStorageService LocalStore
@using BakokiWeb.Shared;

<PageTitle>Mostrar Historial</PageTitle>

<h1>Historial de cuenta @cuenta.AccountName @cuenta.AccountNumber </h1>

@if (cuenta == null)
{
    <p>Esta cuenta no tiene historial...</p>
}
else
{

    <table class="table">


        <thead>
            <tr>
                <th>Día de archivo</th>
                <th>Origen</th>
                <th>Cantidad</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var tran in cuenta.Transacciones)
            {
                <tr>
                    <td>@tran.FilledAt</td>
                    <td>@tran.Origin</td>
                    <td>@string.Format("{0:C}", @tran.SignedDollarAmount())
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    [Parameter]

    public string AccountNum { get; set; } = "";


    CuentaViewModel? cuenta = new();

    protected override async Task OnInitializedAsync()
    {

        Cliente? cli = new();
        var userEmail = await LocalStore.GetItemAsStringAsync("email");
        var list = await Http.GetFromJsonAsync<List<Cliente>>($"api/Cliente/{userEmail}");

        var result = await Http.GetFromJsonAsync<List<CuentaViewModel?>>($"api/Cuenta/{AccountNum}");

        if (list is not null)
        {
            cli = list.FirstOrDefault();
        }
        if (result is not null && result.Count > 0)
        {
            cuenta = result.FirstOrDefault();
        }

    }

}


